trunk/VIENNAAddInUnitTests/testresources/XSDGeneratorTest/bdts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:test="urn:test:namespace" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:XMLNDRDocumentation:3" targetNamespace="urn:test:namespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="SimpleStringStringType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">SimpleString. Type</doc:DictionaryEntryName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">SimpleString</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="TextStringType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:UniqueID xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">234235235</doc:UniqueID>
        <doc:VersionID xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">1.0</doc:VersionID>
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text. Type</doc:DictionaryEntryName>
        <doc:Definition xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">This is the definition of BDT Text.</doc:Definition>
        <doc:BusinessTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">business term 1</doc:BusinessTermName>
        <doc:BusinessTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">business term 2</doc:BusinessTermName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="LanguageString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Language</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text. Language. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LanguageLocaleString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Language.Locale</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Text. Language.Locale. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateStringType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Date. Type</doc:DictionaryEntryName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Date</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="FormatString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Format</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Date</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Date. Format. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ABCCodeABCCodesType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. Type</doc:DictionaryEntryName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="NameString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Name</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. Name. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListAgencyString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList.Agency</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList.Agency. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListAgencyNameString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList.AgencyName</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList.AgencyName. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListNameString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList.Name</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList.Name. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListUniformResourceIdentifierString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList.UniformResourceIdentifier</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList.UniformResourceIdentifier. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListVersionString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeList.Version</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeList.Version. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeListSchemeUniformResourceIdentifierString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CodeListScheme.UniformResourceIdentifier</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. CodeListScheme.UniformResourceIdentifier. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LanguageString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Language</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">ABCCode. Language. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureDecimalType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure. Type</doc:DictionaryEntryName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="MeasureUnitString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">MeasureUnit</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure. MeasureUnit. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeasureUnitCodeListVersionString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">MeasureUnit.CodeListVersion</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Measure. MeasureUnit.CodeListVersion. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CurrencyDecimalType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Currency. Type</doc:DictionaryEntryName>
        <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Currency</doc:PropertyTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="CurrencyCodeString" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <doc:PropertyTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">CurrencyCode</doc:PropertyTermName>
              <doc:RepresentationTermName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:RepresentationTermName>
              <doc:PrimitiveTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">String</doc:PrimitiveTypeName>
              <doc:DataTypeName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Currency</doc:DataTypeName>
              <doc:DictionaryEntryName xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">Currency. CurrencyCode. String</doc:DictionaryEntryName>
              <doc:ModificationAllowedIndicator xmlns:doc="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3">true</doc:ModificationAllowedIndicator>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>